.wall_block{
    width:25%;
    height:15%;
    border-radius:5px;
    background-color:#00000000;
    text-align:left;
    margin-left:10px;
    padding:2px 15px 35px 15px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1)
}
.wall_line{
    text-align:center;
    display: flex;
    flex-direction: row;
    margin-top:10px;
}
.form_button{
    position: relative;
    bottom:10px;
}
.btn1{
    position:absolute;
    border: 1px solid #d9d9d9;
    height: 30px;
    min-width: 100px!important;
}
.btn2{
    position:absolute;
    right: 0px;
    border: 1px solid #d9d9d9;
    height: 30px;
    min-width: 100px!important;
}
body{
    background-color:#f6f6f6;
}
.WALL{
    width:100%;
    display: flex;
}
.side_block{
    margin-top:10px;
    height:100%;
    width:20%;
    border-radius:5px;
    background-color:#ffffff;
    padding:2px 15px 35px 15px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1)
}
.center_block{
    width:80%;
}
.blackout{
    text-align: left;
    padding:2px 15px 15px 15px;
    display: flex;
}
.block_view_text{
    width:100%;
}
.block_view_img{
    width:60%;
    height:100%;
}
.text_block_return{
    margin-top:10px;
    margin-bottom:25px;
    display:grid;
    grid-template-columns: 20% 80%;
    grid-template-rows:repeat(10, 30px);
}
.text_block{
    margin-top:10px;
    margin-bottom:25px;
    display:grid;
    grid-template-columns: 20% 80%;
    grid-template-rows:repeat(6, 30px);
}
.text_block_name{
border-bottom: 1px dotted #ddd;
}
.text_block_value{
text-align:right;
border-bottom: 1px dotted #ddd;
}


#zatemnenie {
	display: none;
}
#zatemnenie:before {
	content: '';
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	z-index: 9999;
}
#block_view2{
    position: fixed;
	top: 20%;
	left: 30%;
	width: 40%;
	background: #fff;
	border-radius: 4px;
	z-index: 99999;
	opacity: 1;
	margin-left:10px;
    padding:2px 15px 35px 15px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
      }
#zatemnenie:target {display: block;}
.close {
    position: absolute;
	top: 10px;
	right: 10px;
}


#zatemnenie_rent {
	display: none;
}
#zatemnenie_rent:before {
	content: '';
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	z-index: 9999;
}
#block_view3{
    position: fixed;
	top: 20%;
	left: 30%;
	width: 40%;
	background: #fff;
	border-radius: 4px;
	z-index: 99999;
	opacity: 1;
	margin-left:10px;
    padding:2px 15px 35px 15px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
      }
#zatemnenie_rent:target {display: block;}
.close {
    position: absolute;
	top: 10px;
	right: 10px;
}

#zatemnenie_return {
	display: none;
}
#zatemnenie_return:before {
	content: '';
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	z-index: 9999;
}
#block_view4{
    position: absolute;
	top: 20%;
	left: 30%;
	width: 40%;
	background: #fff;
	border-radius: 4px;
	z-index: 99999;
	opacity: 1;
	margin-left:10px;
    padding:2px 15px 35px 15px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
      }
#zatemnenie_return:target {display: block;}
.close {
    position: absolute;
	top: 10px;
	right: 10px;
}
.btn_damage{
    cursor:pointer;
    border: 1px solid #d9d9d9;
    height: 30px;
    min-width: 130px!important;
}
#show_damage{
    display:none;
}
#show_damage:before {
	content: '';
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	z-index: 9999;
}
#block_view5{
    position:fixed;
    background: #fff;
	border-radius: 4px;
	z-index: 99999;
	opacity: 1;
	margin-left:10px;
    padding:2px 15px 35px 15px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}
#show_damage:target {display: block;}

.block_down{
    padding-top:25px;
}
.test{
height:100%;
}
.test3{
width:100%;
}